<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="head">
    <title>woostagram</title>
</th:block>

<th:block layout:fragment="content">

    <div class="page-container mrg-top-80">
        <form>
            <input name="_method" type="hidden" value="put"/>
            <div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30">
                <div class="row">
                    <div class="col-md-9 mx-auto">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-3 mrg-left-15">
                                        <label class="pointer" for="img-upload">
                                            <img alt=""
                                                 id="profile-image"
                                                 src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4"
                                                 style="border-radius: 50px" width="70">
                                        </label>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="font-size-20"><b th:text="${user.nickName}">Nick Name</b></div>
                                        <label class="mrg-top-5 pointer text-bold" for="img-upload"
                                               style="color:dodgerblue;">프로필 사진 바꾸기</label>
                                        <input accept="image/*" class="d-none" id="img-upload"
                                               name="uploadedimages0"
                                               type="file">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>이름</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control text-bold" id="user-name" maxlength="10"
                                               minlength="2" name="name" required th:value="${user.userName}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>닉네임</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control text-bold" id="nick-name" maxlength="10" minlength="2"
                                               name="nickName" required th:value="${user.nickName}" type="text">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>웹 사이트</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control text-bold" id="webSite" name="usersite" th:value="${user.webSite}"
                                               type="text">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>소개</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <textarea class="form-control text-bold" id="intro" name="intro" th:text="${user.intro}"
                                                  type="text"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="mrg-top-10 text-dark"><b>비밀번호</b></label>
                                    </div>
                                    <div class="col-md-8">
                                        <input class="form-control text-bold" id="password" maxlength="16"
                                               minlength="4"
                                               name="password" required th:value="${user.password}" type="password">
                                    </div>
                                </div>
                                <hr>
                                <input id="userId" th:value="${user.id}" type="hidden">
                                <div class="text-center">
                                    <button class="btn btn-info mrg-top-20 bottom-5" id="editButton">수정</button>
                                    <button class="btn btn-danger mrg-top-20 bottom-5" data-target="#exampleModal"
                                            data-toggle="modal" onclick="return false;">삭제
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">회원 탈퇴</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">취소</button>
                    <button class="btn btn-danger" id="deleteButton" type="button">삭제</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
</html>